@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main {
        height: 735px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        &__title {
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: center;
            padding-top: 0px;
        }

        &__text {
            font-family: Montserrat;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__text_big {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }

    }

    .games__item-box {
        height: 1221px;

        &__item_a {
            grid-column: span 12;
        }

        &__item_b {
            grid-column: span 12;
        }

        &__item_c {
            grid-column: span 12;
        }
    }

    .vremenaGoda {
        gap: 64px;
        height: 653px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__info {
            width: 343px;
            height: 217px;
            grid-column: span 12;
            display: grid;
            justify-items: center;

            &__title {
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                letter-spacing: 0px;
                text-align: center;
            }

            &__text {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;
            }

            &__button {
                width: 234px;
                height: 48px;
                text-align: center;
            }
        }

        &__img {
            grid-column: span 12;
            height: 236px;
            width: 344px;
            background-image: url(./img/game_1_mobimg.svg);
        }
    }

    .zapomniSlova {
        gap: 64px;
        height: 653px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__info {
            width: 343px;
            height: 217px;
            grid-column: span 12;
            display: grid;
            justify-items: center;

            &__title {
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                letter-spacing: 0px;
                text-align: center;
            }

            &__text {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;
            }

            &__button {
                width: 234px;
                height: 48px;
                text-align: center;
            }
        }

        &__img {
            grid-column: span 12;
            order: 1;
            height: 236px;
            width: 344px;
            background-image: url(./img/game_2_mobimg.svg);
        }
    }
}