* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: 120px;
  padding-right: 120px;
}

.main {
  height: 1024px;
  background-image: url(img/backgroundimgmain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__title {
  padding-top: 217px;
  padding-bottom: 32px;
  width: 788px;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.main__text {
  width: 481px;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 44px;
}
.main__text_big {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}
.main__button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background-color: #9C0332;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #FFFFFF;
  box-sizing: border-box;
  text-align: center;
}
.main__button:hover {
  background-color: #EB443F;
  transition: all 0.3s;
}

.games__item-box {
  background-color: #000915;
  height: 556px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-content: center;
}
.games__item-box__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding: 32px;
  text-decoration: none;
}
.games__item-box__item_a {
  display: flex;
  align-items: flex-end;
  background-image: url(img/bkggame1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 16px;
  grid-column: span 4;
  text-decoration: none;
}
.games__item-box__item_a:hover {
  box-sizing: border-box;
  transition: all 0.1s;
  border: 3px solid #44D2FF;
}
.games__item-box__item_b {
  display: flex;
  align-items: flex-end;
  background-image: url(img/bkggame2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 16px;
  grid-column: span 4;
  text-decoration: none;
}
.games__item-box__item_b:hover {
  box-sizing: border-box;
  transition: all 0.1s;
  border: 3px solid #44D2FF;
}
.games__item-box__item_c {
  display: flex;
  align-items: flex-end;
  background-image: url(img/bkggame3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  border-radius: 16px;
  grid-column: span 4;
  text-decoration: none;
}
.games__item-box__item_c:hover {
  box-sizing: border-box;
  transition: all 0.1s;
  border: 3px solid #44D2FF;
}

.vremenaGoda {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  height: 800px;
  background-color: #000915;
}
.vremenaGoda__info {
  width: 585px;
  height: 236px;
}
.vremenaGoda__info__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.vremenaGoda__info__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 32px;
}
.vremenaGoda__info__button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background-color: #9C0332;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  padding-left: 75px;
  padding-right: 75px;
  border: none;
}
.vremenaGoda__info__button:hover {
  background-color: #EB443F;
  transition: all 0.3s;
}
.vremenaGoda__img {
  background-image: url(./img/game_1_img.svg);
  width: 485px;
  height: 333px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .main {
    height: 735px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .main__title {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    padding-top: 0px;
  }
  .main__text {
    font-family: Montserrat;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .main__text_big {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .games__item-box {
    height: 1221px;
  }
  .games__item-box__item_a {
    grid-column: span 12;
  }
  .games__item-box__item_b {
    grid-column: span 12;
  }
  .games__item-box__item_c {
    grid-column: span 12;
  }
  .vremenaGoda {
    gap: 64px;
    height: 653px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .vremenaGoda__info {
    width: 343px;
    height: 217px;
    grid-column: span 12;
    display: grid;
    justify-items: center;
  }
  .vremenaGoda__info__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
  }
  .vremenaGoda__info__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .vremenaGoda__info__button {
    width: 234px;
    height: 48px;
    text-align: center;
  }
  .vremenaGoda__img {
    grid-column: span 12;
    height: 236px;
    width: 344px;
    background-image: url(./img/game_1_mobimg.svg);
  }
}/*# sourceMappingURL=style.css.map */